html,body {
  /*margin: 0;
  padding: 0;*/
  width: 100% !important;
  height: 100% !important;
}

body {
  display: table;
}

.container {
  height: auto;
}

.content {
  padding-bottom: 100px;
}

.footer {
  display: table-row;
  height: 1px;
  /*width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;*/
  background-color: #333;
  color: #fff;
}

.text-align-center {
  text-align: center;
}

ul.unstyled {
  list-style: none;
  padding: 0;
}

.jumbotron {
	background-color: #E81E1A;
	color: #fff;
}
