.navbar-static-top {
  background-color: #34671D !important;
  border-color: #1AC509 !important;
  margin-bottom: 0px;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-brand:hover {
    color: #777;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #999;
}
.navbar-default .navbar-toggle {
    background-color: #34671D !important;
    border-color: #1AC509 !important;
}
.navbar-default .navbar-toggle:hover {
    background-color: #CAE0F3 !important;
    border-color: #2DE81A !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #2DE81A !important;
}
