<!-- Load the staticfiles helper -->
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">


    <title>{% block head_title %}MVP Landing{% endblock %}</title>


    <!-- Included files are included right at rendering time -->
    {% include 'head_css.html' %}

    <!-- {% block style %}


    {% endblock %} -->


  </head>




  <body>
    {% include 'navbar.html' %}

    <!-- Wrap Bootstrap in class='container' . This will also provide some padding around edges of elements -->
    <!-- container-fluid will remove the padding; allowing elements to touch sides of screen -->

    {% block jumbotron %}


    {% endblock %}

    <div class="container">

      <!-- Blocks mark inheritance area. This 'block' tag will display the jumbotron info from home.html's jumbotron block tag -->
      {% block content %}

      {% endblock %}

    </div>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
            <h6>Copywright &copy; {{ SITE_URL }}</h6>
          </div><!-- end col-sm-2 -->

          <div class="col-sm-4">
            <h6>About Us</h6>
            <p>About Us About Us About Us About Us About Us About Us About Us About Us About UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout</p>
          </div><!-- end col-sm-4 -->

          <div class="col-sm-2">
            <h6>Navigation</h6>
            <ul class="unstyled">
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
              <li><a href="{% url 'about' %}">About</a></li>
              <li><a href="#">Links</a></li>
            </ul>
          </div><!-- end col-sm-2 -->

          <div class="col-sm-2">
            <h6>Follow Us</h6>
            <ul class="unstyled">
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Google Plus</a></li>
            </ul>
          </div><!-- end col-sm-2 -->

          <div class="col-sm-2">
            <h6><span class="fa fa-heart fa-1x" style="color:red;"></span> by <span style="color:green;">Jared</h6>
          </div><!-- end col-sm-2 -->

        </div>
      </div> <!--End container-->
    </footer>


    {% include 'javascript.html' %}

  </body>
</html>
