<!-- Inherit from base.html, and use it in home.html -->
{% extends 'base.html' %}

<!-- Apply 'load' template tags underneath 'extends', if present -->
{% load crispy_forms_tags %}

<!-- Block level context variable "super" pulls head_title content from parent document and inserts   -->
{% block head_title %} Welcome | {{ block.super}} {% endblock %}

{% block style %}
<style>
.navbar-static-top{
	margin-bottom: 0px #E81E1A !important;
}
.jumbotron {
	background-color: #E81E1A;
	color: #fff;
}
</style>
{% endblock %}


{% block jumbotron %}
{% if not request.user.is_authenticated %}
<div class="jumbotron">
<div class="container">
<div class="row">
	<!-- The minimum amount the size of screen can be while still being column of 6 -->
	<div class="text-align-center">
		<h1>Try Django 1.8</h1>
		<p class='lead text-align-center'>The MVP Landing project is designed to get your project started. The goal is to help you launch as soon as possible with the least amount of investment using time or money. Join Us today.</p>
		<p>
		<a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Join Us &raquo;</a>
		</p>
	</div>

	<!-- <div class='col-sm-6'> -->

		<!-- <iframe width="560" height="315" src="http://www.youtube.com/embed/2uLYO1LUf6Q" frameborder="0" allowfullscreen ></iframe> -->

		<!-- Example for a responsive image -->
		<!-- <img src="https://upload.wikimedia.org/wikipedia/commons/9/96/Barbados_beach.jpg" class='img-responsive' /> -->
	<!-- </div> -->

</div>
</div>
</div>
{% endif %}
{% endblock %}




{% block content %}

{% if request.user.is_authenticated %}
<h1>You are logged in!</h1>

	{% if queryset %}
		<!-- Only shows up for admin user -->
		<h2>Welcome Staff!</h2>
		<table class="table">
		{% for instance in queryset %}
			<tr><td>{{ forloop.counter }}</td><td>{{ instance }}</td><td>{{ instance.full_name }}</td><td>{{ instance.timestamp|timesince }}</td></tr>
		{% endfor %}
		</table>

	{% endif %}

{% else %}
<div class="row">
	<!-- E.g col-xs-3 will set the minimum amount the screen can be while still being a column of 3 to xtra small;
	     Essentially, no matter what screen size you're on it will be a column of 3. AKA you can essentially set 'defaults' with xs -->
    <!-- pull-right compiles to float: right!important; -->
	<div class="col-sm-3 pull-right">

		<p class='lead text-align-center'>{{ title }}</p>


		<form method='POST' action=''>{% csrf_token %}
			{{ form|crispy }}

			<input class="btn btn-primary" type='submit' value='Sign Up'/>

		</form>

	</div>
	<div class='col-sm-3'>
		<p class='lead text-align-center'>Django &amp; Bootstrap
		<br/><br/>
		<span class="fa-stack fa-lg fa-5x">
			<i class="fa fa-circle-o-notch fa-stack-2x"></i>
			<!-- <i class="fa fa-square-o fa-stack-2x"></i> -->
			<i class="fa fa-code fa-stack-1x"></i>
		</span>
		</p>
	</div>
	<div class='col-sm-3'>
		<p class='lead text-align-center'>Created for starters
		<br/>
		<span class="fa-stack fa-lg fa-5x">
			<i class="fa fa-comment-o fa-stack-2x"></i>
			<i class="fa fa-bolt fa-1x"></i>
		</p>
	</div>
	<div class='col-sm-3'>
		<p class='lead text-align-center'>Always Open Source
		<br/><br/>
		<span class="fa-stack fa-lg fa-5x">
			<i class="fa fa-circle-o-notch fa-stack-2x"></i>
			<!-- <i class="fa fa-square-o fa-stack-2x"></i> -->
			<i class="fa fa-github fa-stack-1x"></i>
		</span>
		</p>

	</div>

</div>
{% endif %}
{% endblock %}
